<div class="parallax-container">
  <h1 class="center-align" id="head">TrailBlazer</h1>
  <h1 class="center-align" id="blaze">Blaze the Trail to Your Next Adventure</h1>
  <div class="parallax">
    <%= image_tag "cityscape3.jpg" %>
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">TrailBlazer</h2>
    <p class="grey-text text-darken-3 lighten-3">Blaze the Trail to Your Next Adventure</p>
    <p>Bring over the login signup stuff and figure out life</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <%= image_tag "cityscape.jpg" %>
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Put some stuff here?</h2>
    <p class="grey-text text-darken-3 lighten-3">Or maybe here?</p>
  </div>
</div>
<div class="parallax-container last">
  <div class="parallax">
    <%= image_tag "cityscape4.jpg" %>
  </div>
</div>
