<div class="modal-content col m8 offset-m2 col s12">
  <h5 class="center">Welcome back to the adventure!</h5>
  <%= form_for @user, url:'/sessions', method: 'post' do |f| %>
    <div class="">
      <%= f.email_field :email, placeholder: "Email" %>
    </div>
    <div class="">
      <%= f.password_field :password, placeholder: "Password" %>
    </div>
    <div class="modal-footer col m12">
      <%= f.submit "Sign In", class: "btn waves-effect" %>
    </div>
  <% end %>
</div>
