<div class="row">
  <section class="col s8 m6 offset-m3">  
    <h3 class="center">New Post</h3>
    <%= form_for @post do |f| %>
    <div class="">
        <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class="">
        <%= f.text_field :message, placeholder: "Message" %>
    </div>
    <div class="">
        <%= f.submit "Create Post", class:"btn" %>
    </div>
    <% end %>
  </section>
</div>
