// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#head {
  margin: 250px;
  color: cyan;
}
#blaze {
  margin-top: -250px;
  color: cyan;
}

.parallax-container {
  margin-top: -20px;
  height: 600px;
}

.last {
  margin-bottom: -20px;
}
