// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#head {
  margin: 12%;
  color: white;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  // text-outline: 4px 4px #fff
}
#blaze {
  margin-top: -12%;
  color: white;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.parallax-container {
  margin-top: -20px;
  height: 500px;
}

.last {
  margin-bottom: -20px;
}

.section {
  height: auto;
}

.s4 {
  margin-top: 20px;
  // border: 1px solid black;
}
